.product-content{
    margin-top: 4rem;
}

table{
    text-align: center;
    justify-content: center;
    min-width: 1200px;
}

.table-td{
    max-width: 200px;
    min-width: 140px;
    word-break: break-all 
}
.table-date{
    max-width: 120px;
    min-width: 90px;
    word-break: break-all 
}

.table-cookie{
    min-width: 400px;
    max-width: 500px;
    word-break: break-all 
}

.table-adaccounts{
    width: 80%;
    height: 75%;
    overflow: auto;
}

.table-adaccounts-height{
    height: 700px;
}
img{
    width: 120px;
    height: 100px;
    justify-content: center;
    position: absolute;
    margin-left: 37%;
    margin-top: 20%;
    display: block;
}